[submodule "MeowRouter"]
	path = MeowRouter
	url = https://github.cpm/meow-chip/MeowRouter.git
[submodule "MeowV64"]
	path = MeowV64
	url = https://github.com/meow-chip/MeowV64.git
[submodule "software"]
	path = software
	url = https://github.com/meow-chip/RouterSoftware.git
